
/* >>>>>>>>>> VARIABLES >>>>>>>>>> */
:root {
  --primary-color: #818cf8;
  --bg-gradient: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
  --glass-bg: rgba(30, 41, 59, 0.8);
  --table-header: rgb(34, 44, 62);
  --text-main: #f1f5f9;
  --border-color: rgba(255, 255, 255, 0.1);
  --row-border: rgba(255, 255, 255, 0.05);
  --btn-bg: #334155;
  --bg-status-pending: rgba(234, 179, 8, 0.15);
  --color-status-pending: #eab308;
  --bg-status-paid: rgba(34, 197, 94, 0.15);
  --color-status-paid: #22c55e;

  --bg-modal: rgba(30, 41, 59, 0.8);
}

body.light-mode {
  --primary-color: #6366f1;
  --bg-gradient: linear-gradient(135deg, #f8fafc 0%, #e2e8f0 100%);
  --glass-bg: rgba(255, 255, 255, 0.7);
  --table-header: #f3f4ff;
  --text-main: #1e293b;
  --border-color: rgba(0, 0, 0, 0.1);
  --row-border: rgba(0, 0, 0, 0.04);
  --btn-bg: #ffffff;
  --bg-status-pending: rgb(234 179 8 / 42%);
  --color-status-pending: #916d00;
  --bg-status-paid: rgb(34 197 94 / 39%);
  --color-status-paid: #009938;

  --bg-modal: #fff;
}



/* >>>>>>>>>> GENERAL >>>>>>>>>> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}



/* >>>>>>>>>> BODY >>>>>>>>>> */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}



/* >>>>>>>>>> BUTTON THEME TOGGLE >>>>>>>>>> */
.btn-theme-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background: var(--btn-bg);
  padding: 8px 16px;
  font-size: 1.3rem;
  color: var(--text-main);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: scale 0.001s ease;
}

.btn-theme-toggle:hover{
  filter: brightness(1.1);
}


/* >>>>>>>>>> BUTTON LOGOUT >>>>>>>>>> */
.btn-logout {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 2rem;
  background-color: #c02a2a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  z-index: 1000;
}

.btn-logout:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.btn-logout:active {
    transform: translateY(0);
}



/* >>>>>>>>>> MAIN CONTAINER >>>>>>>>>> */
.main-container {
  width: 90%;
  height: 70vh;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}



/* >>>>>>>>>> EXCHANGE RATE CONTAINER >>>>>>>>>> */
.exchange-rate-container{
  min-width: 100%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

/* **EXCHANGE RATE** */
.exchange-rate{
  font-size: 1.6rem;
  color: var(--text-main);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.exchange-rate:hover{
  border-bottom: 1px solid var(--primary-color);
}



/* >>>>>>>>>> NAV CONTAINER >>>>>>>>>> */
.nav-container {
  min-width: 100%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* **PRINCIPAL TITLE** */
.principal-title {
  color: var(--text-main);
  font-size: 2.2rem;
  font-weight: 600;
}

/* NEW PRODUCT BUTTON */
.new-product-button{
  background: var(--btn-bg);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-main);
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  transition: transform 0.2s, filter 0.2s;
}

.new-product-button:hover{
  filter: brightness(1.1);
  transform: translateY(-2px);
}

.new-product-button:active {
    transform: translateY(0);
}


/* >>>>>>>>>> TABLE CONTAINER >>>>>>>>>> */
.table-container {
  flex: 1;
  min-height: 0;
  background: var(--glass-bg);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

/* **SCROLLBAR** */
.table-container::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

.table-container::-webkit-scrollbar-corner {
  background: transparent;
}

.table-container::-webkit-scrollbar-track {
  background: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  background-clip: content-box;
  border-radius: 10px;
  border: 5px solid transparent; 
}

/* **TABLE** */
.table {
  min-width: 100%;
  margin: 0;
  background: transparent;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}

/* th */
.table thead th {
  position: sticky;
  top: 0;
  background: var(--table-header);
  padding: 18px 24px;
  border-bottom: 1px solid var(--row-border);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 0.08em;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 10;
}

.table th:last-child, 
.table td:last-child {
  padding-right: 32px; 
}

.table .tr-1-head th {
  top: 0;
}

.table .tr-2-head th input {
  width: 100%;
  padding: 8px 12px;
  padding-left: 24px;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--row-border);
  font-size: 1.2rem;
  font-family: inherit;
  color: var(--text-main);
  transition: all 0.01s ease;
  outline: none;
}

.table .tr-2-head th input:last-child {
  background-color: #009938;
}



.table .tr-2-head th {
  padding: 0;
  top: 53px;
}

.table .tr-2-head th input:focus  {
  border-color: var(--primary-color);
}

.table .tr-2-head th input::placeholder {
  color: var(--text-muted);
  opacity: 0.6;
  font-style: italic;
}


/* td */
.table tbody td {
  padding: 16px 24px;
  color: var(--text-main);
  border-bottom: 1px solid var(--row-border);
  font-size: 1.4rem;
  cursor: pointer;
}

.table tbody td:not(:nth-child(3)):hover {
  background-color: var(--border-color);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table tbody td:nth-child(3) {
  cursor: default;
}


.table tbody td:hover {
  background-color: var(--border-color);
}

.table tbody td:nth-child(3):hover {
  background-color: transparent;
}


.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr:nth-child(odd) {
  background: transparent;
}

.table tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.03); 
}

body.light-mode .table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}


/* badge */
.badge {
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}

.badge:hover {
  filter: brightness(1.4);
}

.status-active {
  background: var(--bg-status-paid);
  color: var(--color-status-paid);
}

.status-inactive {
  background: var(--bg-status-pending);
  color: var(--color-status-pending);
}



/* trash */
.td-trash {
  text-align: center;
  width: 50px;
}

.td-trash:hover {
  background: inherit;
}

.btn-trash {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.btn-trash:hover {
  background-color: rgba(255, 0, 0, 0.1);
  transform: scale(1.15);
}

.btn-trash:active {
  transform: scale(0.9);
}






/* >>>>>>>>>> RESPONSIVE >>>>>>>>>> */

@media (max-width: 480px) {
  html {
    font-size: 45%; 
  }
}


