
/* >>>>>>>>>>>>>> MODAL >>>>>>>>>>>>>> */
.feedbackModal{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);

}



/* _____________ MODAL BODY _____________ */
.feedbackModalBody{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal);
}

/* -------- CLOSE BUTTON -------- */
.closeButton {
  background: transparent;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  line-height: 1;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition: all ease 0.1s;
}

.closeButton:focus {
  outline: none;
}

.closeButton:hover {
  opacity: 0.7;
}



/* -------- INFO CONTAINER -------- */
.infoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 80%;
  width: 55%;
  z-index: 20;
}

.infoContainer h2{
  font-size: 5.5rem;
  color: #fff;
  font-weight: 700;
}

.infoContainer div{
  background-color: #fff;
  padding: 7rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.infoContainer div h2{
  font-size: 6rem;
  color: #000;
  font-weight: 500;
}

.infoContainer div p{
  font-weight: 800;
}

.infoContainer div .priceInDollars {
  font-size: 9rem;
  color: red;
}

.infoContainer div .priceInBs {
  font-size: 8rem;
  color: #00ff4c;
}




/* -------- IMG CONTAINER -------- */
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 25%;
  z-index: 20;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
}

.imgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}










/* >>>>>>>>>> RESPONSIVE >>>>>>>>>> */

@media (max-width: 480px) {
  .feedbackModalBody{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .infoContainer {
    width: 35rem;
    order: 2;
    height: 60%;
  }

  .infoContainer div {
    height: 100%;
    width: 100%;
    padding: 1rem 3rem;
    gap: 10px;
  }

  .infoContainer > h2 {
    display: none;
  }

  .infoContainer div h2 {
    text-align: center;
  }

  .infoContainer, .imgContainer {
    width: 90%;
    height: 42%;
  }
}

